<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script>
        function submit() {
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            $.ajax({
                url: "/main/search",
                type: "get",
                async: false,
                data: "username=" + username + "&password=" + password,
                dataType: "json",
                success: function (data) {
                    if (data != null) {
                        alert("查询成功");
//                        var table = "";
//                        table = "<tr>";
//                        table += "<td>" + data.id + "</td>"
//                        table += "<td>" + data.name + "</td>"
//                        table += "</tr>"
//                        $("#personList").html(table);

                        var tr="";
                        $.each(data,function(n,value){
                            tr +="<tr>";
                            tr += "<td>" + value.id + "</td>"
                            tr += "<td>" + value.mediaId + "</td>"
                            tr += "<td>" + value.name + "</td>"
                            tr += "<td>" + value.code + "</td>"
                            tr += "<td>" + value.token + "</td>"
                            tr += "<td>" + value.remark + "</td>"
                            tr += "<td>" + value.invalid + "</td>"
                            tr += "<td>" + value.updateTime + "</td>"
                            tr += "<td>" + value.createIndex + "</td>"
                            tr += "</tr>"
                        })
                        $("#personList").html(tr);
                    } else {
                        alert("您没有权限查询数据");
                    }
                },
                error: function (data) {
                    alert(data + "ajax异常");
                }
            });

        }
    </script>
</head>
<body>
Welcome To Main Page
查询所有合伙人信息：
身份验证：
<input type="text" id="username" placeholder="请输入用户名">
<input type="text" id="password" placeholder="请输入密码">
<button id="btn" onclick="submit()">提交</button>
<table>
    <tbody id="personList"></tbody>
</table>
</body>
</html>